body{
    background-color: #fddc57;
      margin-right: 90%;
      margin-left: 50%;
      
    ;
}
p {
    color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Times New Roman", Times, serif;
    text-decoration-color:white;
    text-decoration:underline;
 
}
h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    line-height: 60px;
    color: #003366;
}